@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

body {
    background-color: rgb(var(--background));
    color: var(--bs-secondary-color);
    -webkit-font-smoothing: antialiased;
    font-family: Inter, system-ui, sans-serif;
}

h1, .regular {
    color: rgb(var(--foreground));
}

* {
    border-color: hsl(var(--border));
}

a {
    text-decoration: none !important;
}

.regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.smaller {
    font-size: 12px;
}

.smallest {
    font-size: 10px;
}

.medium {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-36 {
    font-size: 36px;
}

.lh-16 {
    line-height: 16px;
}

.lh-28 {
    line-height: 28px;
}

.h-783 {
    height: 783.28px
}