html {
    height: 100dvh;
}

body {
    background-image: url('/assets/img/gradient.png');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 1019px;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}

.h-84 {
    height: 84px;
}

#header {
    background-color: rgba(var(--background), 0.95);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

#banner .display-1 {
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -2.4px;
}