html {
    height: 100dvh;
}

body {
    background-image: url('/assets/img/gradient.png');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 1019px;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}

.h-84 {
    height: 94px;
}

#header {
    background-color: rgba(var(--background), 0.95);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

#banner .display-1 {
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -2.4px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2662d9;
}

.works-list:last-child {
    margin-bottom: 0 !important;
}

.gallery-container {
    overflow: hidden;
}

.gallery-img {
    height: 316.83px;
    width: 238px;
    object-fit: cover;
    border-radius: 20px;
}

.scroll-row {
    width: max-content;
    display: flex;
}

.scroll-left {
    animation: scrollLeft 22s linear infinite;
}

.scroll-right {
    animation: scrollRight 22s linear infinite;
}

.featured-work-card {
    cursor: pointer;
}

.featured-work-card a {
    color: var(--bs-dark);
    transition: all .3s;
}

.featured-work-card:hover a {
    color: var(--bs-primary);
}