#banner .display-1 {
    font-size: clamp(46px, 5vw + 1rem, 96px);
    line-height: 1.1;
}

@media (max-width: 575.98px) {
    #banner {
        height: 70% !important;
    }

    #banner .display-1 {
        font-size: clamp(2rem, 8vw, 5.8rem);
    }

    #banner .caption {
        font-size: 14px;
    }

    .h-783 {
        height: 200px;
    }
    
}

@media (min-width: 1400px) {
    #banner .display-1 {
        font-size: clamp(46px, 5vw + 1rem, 96px);
        line-height: clamp(46px, 5vw + 1rem, 96px);
    }
}

@media (min-width: 1400px) {
    .container-lg {
        max-width: 1424px;
    }
}