:root {
    --background: 255, 255, 255;
    --foreground: 38, 40, 46;
    --card: 247, 248, 250;
    --card-foreground: 38, 40, 46;
    --popover: 255, 255, 255;
    --popover-foreground: 38, 40, 46;
    --primary: 51, 102, 255;
    --primary-foreground: 255, 255, 255;
    --secondary: 214, 51, 132;
    --secondary-foreground: 255, 255, 255;
    --muted: 244, 244, 246;
    --muted-foreground: 107, 110, 118;
    --bs-secondary-color: #676F7E;
    --bs-secondary-rgb: 245, 243, 246;
    --accent: 255, 102, 51;
    --accent-foreground: 255, 255, 255;
    --destructive: 255, 77, 79;
    --destructive-foreground: 250, 250, 250;
    --border: 230, 231, 235;
    --input: 230, 231, 235;
    --ring: 51, 102, 255;
    --radius: 0.5rem;
}

.bg-light {
    background: rgb(var(--bs-secondary-rgb)) !important;
}